@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  /* Slate-50: Softer than pure white */
  --foreground: #0f172a;
  /* Slate-900: Softer than black */
  --card-bg: #ffffff;
  --card-text: #1e293b;
  /* Slate-800 */
  --input-bg: #ffffff;
  --border-color: #e2e8f0;
  /* Slate-200 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card-bg: #1f2937;
  /* gray-800 */
  --card-text: #ffffff;
  --input-bg: #374151;
  /* gray-700 */
  --border-color: #4b5563;
  /* gray-600 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}